img {
    width: 100%;
}

.textBox {
    text-align: left;
    padding: 5px;
}

.title {
    font-family: serif;
    font-size: 45px;
    font-weight: lighter;
}

.description {
    font-size: 18px;
}

:host {
    width: 100vw;
    height: 100vh;
}

@media (min-width: 500px) {
    img {
        width: 50%;
        height: 100%;
        float: right;
    }

    .title {
        padding: 0 75px 10% 75px;        
        font-size: 75px;
    }

    .description {
        padding: 0 200px 0 75px;
        
    }
}